*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right, #adb1b5,#bfc1c4);
    font-family: sans-serif;
    font-size: 1.3rem;
    color: #333;
}
.header{
    background-color: #e0deb6;
    color: black;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.header .header-img{
    position: absolute;
    left: 0;
}
.header .nav-bar{
    position: absolute;
    right: 0;
}
.nav-bar .nav-link{
    margin-right: 16px;
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    color: rgba(11, 11, 11, 0.584);
}
main{
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    padding: 13px;
}
main .started{
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
main .started h1{
    font-weight: 700;
    letter-spacing: 2px;
}
.python{
    color: rgb(149, 157, 0);
}
.started p{
    line-height: 1.3;
    color: #424649;
}
form{
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    
}
.started form #email{
    display: block;
    border: none;
    height: 37px;
    box-shadow: 0 0 3px rgba(0, 0, 0,0.4);
    width: 260px;
    border-radius: 10px;
    padding: 5px;
}
.started form .submit{
    display: block;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px 30px;
    border: none;
    background:#d9be0c;
    color: white;
    font-size: 1rem;
    box-shadow: 0 0 12px rgba(0, 0,0, 0.2);
}
.started form .submit:hover{
    cursor: pointer;
    background: #d9be0ce1;
    transform: scale(1.1);
    
}
.section{
    background: #d0d3cd;
    padding: 10px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.section h2{
    border-bottom: 3px solid #c6c11e;
}
.to-learn ul{
    margin-left: 30px;
    margin-top: 20px;
}
.to-learn ul li{
    padding: 10px;
    color: #2a2c2dbf;
}
.more-info{
    margin-top: 40px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}
.more-info .author{
    background: #d0d3cd;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin-bottom: 10px;
}
.more-info .author h3{
    border-bottom: 3px solid #c6c11e;
    margin-bottom: 10px;
}
.name{
    color: #b9a837;
}
.more-info .author p{
    line-height: 1.3;
    color: #383a3a;
}
.pricing{
    margin-top: 40px;
    text-align: center;
    margin: 0 auto;
    
}
.price{
    background: #d0d3cd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: inline-block;
    max-width: 300px;
    margin: 10px;
}
.price h3{
    border-bottom: 3px solid #c6c11e;
    margin-bottom: 10px;
}
.price p{
    line-height: 1.2;
    color: #303334;
}
.price button{
    color: white;
    border: none;
    margin-top: 13px;
    border-radius: 10px;
    padding: 10px 20px;
    background: #bba827;
}
.price button:hover{
    cursor: pointer;
    background: #bba727d5;
    transform: scale(1.1);
}
.price .price-part{
    margin-top: 7px;
    font-size: 0.8em;
    text-decoration: line-through;
}
.price .actual{
    margin-top: 5px;
    font-size: 0.8em;
}
.price .actual .discounte{
    margin-top: 5px;
    font-size: 0.8em;
    margin-left: 8px;
    color: rgb(53, 141, 53);
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
    background-color: #e0deb600;
    backdrop-filter: blur(10px);
    width: 100%;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.menu{
    display: none;
}
.sidebar a{
    padding: 5px;
}
.sidebar a:hover{
    background-color: #e0deb649;
}
@media(max-width:660px){
    main{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    main .started{
        width: 100%;
    }
    main .section{
        margin: 0 auto;
    }
}
@media(max-width:400px){
    .menu{
        display: inline-block;
    }
    .hide{
        display: none;
    }
}
@media(max-width:300px){
    .sidebar{
       width: 100%;
    }
}